/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;700&display=swap');

/* Defining custom fonts using @font-face */
@font-face {
    font-family: 'Inter-600';
    src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-400';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-600';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Font css */
html {
    height: 100%;
}

body {
    -webkit-font-smoothing: unset !important;
    height: 100vh;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 82px;
    color: #06053B;
}

h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
}

.text-gradient {
    background: linear-gradient(114.86deg, #005AEC -38.18%, #12DFE7 110.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.color-blue {
    color: #035EE8;
}

h3,
.h3 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

h4 {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #0CADEA;
}

.subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #212529;
    ;
}

.text-blue {
    color: #0CADEA;
    font-style: italic;
}


@media (max-width: 900px) {

    h1,
    .h1 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h3,
    .h3 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
    }

    h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    h3.text {
        font-weight: normal;
    }
}


/* end */

.card img {
    height: 50px;
    margin-top: 10px;
}

.card {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.page-content h2 {
    margin-top: 4rem !important;
}

.page-content img {
    display: block;
    margin: 0 auto;
}


.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.main-container .content {
    display: flex;
    width: 1040px;
    margin: auto;
}


.main-container .footer {
    display: flex;
}

/* .Main {
    flex: 1;
    padding-left:  0px !important;
}
.Sidebar {
    padding-top: calc(var(--header-height) + 50px) !important;
    position: unset !important;
} */
/* .Content[data-v-2f23fdf8] {
    padding: 0px 15px 0 25px;
}
.layout-narrow .Wrap {
    display: flex !important;
    overflow: hidden;
    flex-direction: row;
}  */

@media screen and (max-width: 770px) {
    .Sidebar {
        padding-top: calc(var(--header-height) + 50px) !important;
        position: fixed !important;
    }

    .layout-narrow .Wrap {
        display: unset !important;
        overflow: auto;
        flex-direction: unset;
    }

    .Main {
        padding-top: calc(var(--header-height) + 110px) !important;
    }

    .Header {
        margin-top: 65px;
    }
}

/* Footer css */

header {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 100;
    padding: 20px;
}

@media (max-width: 1140px) {
    header {
        padding: 0 20px;
    }
}

@media (max-width: 980px) {
    header {
        height: 70px;
    }
}

header .header {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 1140px) {
    header .header {
        gap: 40px;
    }
}

header .header__navigation {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 1140px) {
    header .header__navigation {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 980px) {
    header .header__navigation {
        display: none;
    }
}

header .header__navigation-item {
    color: #1D1E24;
    font-family: 'Inter-600';
    font-size: 16px;
    line-height: 22.40px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: 2.5px solid transparent;
}

header .header__navigation-item:hover {
    color: #0086EE !important;
    border-bottom: 2.5px solid #0086EE !important;
    text-decoration: none !important;
}

header .header__navigation-item:active {
    color: #0068B9;
    border-bottom: 2.5px solid #0068B9;
}

header .header__navigation .active {
    color: #0086EE;
    border-bottom: 2.5px solid #0086EE;
}

header .header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

@media (max-width: 980px) {
    header .header__buttons {
        display: none;
    }
}

header .header__buttons .button {
    font-family: 'Poppins-600';
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    text-decoration: none;
    border-radius: 10px;
    height: 50px;
    padding: 14px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header .header__buttons .button-login {
    color: #0086EE;
    background: transparent;
    border: none;
    padding: 0 !important;
}

header .header__buttons .button-login:hover {
    color: #007DDE;
    text-decoration: none !important;
}

header .header__buttons .button-login:active {
    color: #0068B9;
    text-decoration: none !important;
}

header .header__buttons .button-demo {
    color: #fff;
    background: #0086EE;
    border: none;
    line-height: 150%;
}
/* end */
\ No newline at end of file

header .header__buttons .button-demo:hover {
    background: #007DDE;
    text-decoration: none !important;
}

header .header__buttons .button-demo:active {
    background: #0068B9;
    text-decoration: none !important;
}



header .header__navigation-mobile {
    display: none;
}

header a {
    text-decoration: none !important;
    letter-spacing: none !important;
}

header a:hover {
    text-decoration: none !important;
}

.header-mobile {
    height: 100vh;
    width: 100vw;
    background: #F7F9FC;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 120px 20px;
    overflow-y: auto;
    gap: 36px;
}

@media (max-width: 980px) {
    header .header__navigation-mobile {
        display: flex !important;
    }
}

@media (max-width: 576px) {
    .header-mobile {
        padding: 20px 20px 120px 20px;
        overflow-y: auto;
        text-align: center;
    }
}

.header-mobile__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;


}

@media (max-width: 576px) {
    .header-mobile__navigation {
        gap: 12px;
    }
}

.header-mobile__navigation-item {
    color: #1D1E24;
    font-family: 'Inter-600';
    font-size: 24px;
    line-height: 40px;
    word-wrap: break-word;
    text-decoration: none !important;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
}

@media (max-width: 576px) {
    .header-mobile__navigation-item {
        font-size: 16px;
        line-height: 32px;
    }
}

.header-mobile__navigation-item:hover {
    border: 3px solid #0086EE;
    border-radius: 8px;
    color: #0068B9;
}

.header-mobile__navigation-item-active {
    color: #0068B9;
}

.header-mobile__navigation-item-active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #0068B9;
    margin-top: 2px;
}

.header-mobile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.header-mobile__buttons .button {
    font-family: 'Poppins-600';
    font-size: 24px;
    line-height: 40px;
    word-wrap: break-word;
    text-decoration: none !important;
    border-radius: 10px;
    height: 70px;
    padding: 14px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 576px) {
    .header-mobile__buttons .button {
        font-size: 16px;
        line-height: 32px;
        height: 50px;
    }
}

.header-mobile__buttons .button-login {
    color: #0086EE;
    background: white;
    border: 1px #0086EE solid;
}

.header-mobile__buttons .button-login:hover {
    color: #007DDE;
    border: 1px solid #007DDE;
}

.header-mobile__buttons .button-login:active {
    color: #0068B9;
    border: 1px solid #0068B9;
}

.header-mobile__buttons .button-demo {
    color: #fff;
    background: #0086EE;
    border: none !important;
    line-height: 150%;
}

.header-mobile__buttons .button-demo:hover {
    background: #007DDE;
}

.header-mobile__buttons .button-demo:active {
    background: #0068B9;
}

.header-mobile a {
    text-decoration: none !important;
    width: 100%;
}

.overlay {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #D3D3D3;
    /* Changed $lightgray to a concrete color value */
    height: 100%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-image: unset !important;
    background-size: unset !important;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}

.overlay a:hover,
.overlay a:focus {
    opacity: 0.7;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.site-header {
    display: none !important;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.header-img {
    max-width: none !important;
    width: 125px;
}

header .header__buttons-login {
    color: #0086ee;
    background: transparent;
    border: none;
    padding: 0 !important;
}

header .header__buttons-demo {
    color: #fff;
    background: #0086EE;
    border: none;
    line-height: 150%;
}


footer {
    background-color: #1D1E24;
    width: 100%;
    height: 146px;
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 103;
}

@media (max-width: 1140px) {
    footer {
        padding: 120px 20px;
    }
}

@media (max-width: 1140px) {
    footer {
        padding: 40px 20px;
        height: auto;
    }
}

footer .footer {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer__divider {
    height: 1px;
    align-self: stretch;
    border-radius: 60px;
    opacity: 0.5;
    background: #BBBCCA;
    margin: 48px 0;
}

footer .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer .footer__links-sitemap {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
}

@media (max-width: 980px) {
    footer .footer__links-sitemap {
        flex-wrap: wrap;
        justify-content: center;
    }
}

footer .footer__links-sitemap-item {
    font-family: 'Poppins-600';
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    text-decoration: none !important;
    color: #FFFFFF !important;
}

@media (max-width: 980px) {
    footer .footer__links-sitemap-item {
        width: 40%;
    }
}

footer .footer__links-sitemap-item:hover {
    color: #0086EE !important;
    text-decoration: none !important;
}

footer .footer__links-sitemap-item:active {
    color: #0068B9 !important;
    text-decoration: none !important;
}

@media (max-width: 980px) {
    footer .footer__links-sitemap-logo {
        width: 100%;
    }
}

@media (max-width: 980px) {
    footer .footer__links-sitemap .policy-mobile {
        display: flex;
    }
}

footer .footer__links-sitemap .policy-mobile {
    display: none;
}

footer .footer__links-social {
    display: flex;
    align-items: center;
    gap: 48px;
}

footer .footer__links-social a {
    cursor: pointer;
    height: 28px;
}

@media (max-width: 1140px) {
    footer .footer__links-social {
        gap: 30px;
    }
}

@media (max-width: 980px) {
    footer .footer__links-social {
        display: none;
    }
}

footer .footer__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 980px) {
    footer .footer__copyright {
        flex-direction: column;
        gap: 24px;
    }
}

footer .footer__copyright-policy {
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    font-family: 'Poppins-600';
    text-decoration: none !important;
    color: #FFFFFF !important;
}

footer .footer__copyright-policy:hover {
    color: #0086EE !important;
    text-decoration: none !important;
}

footer .footer__copyright-policy:active {
    color: #0068B9 !important;
    text-decoration: none !important;
}

@media (max-width: 980px) {
    footer .footer__copyright-policy {
        display: none;
    }
}

footer .footer__copyright-date {
    color: #8D949D;
    font-family: Inter-400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

@media (max-width: 980px) {
    footer .footer__copyright .mobile {
        display: flex;
    }
}

footer .footer__copyright .mobile {
    display: none;
}

.footer-img {
    max-width: none !important;
    width: 150px;
    height: 40px;
    margin-bottom: 2px;
}

.Sidebar[data-v-578c0cb2] {
    margin-top: 10px;
}
.Main[data-v-2f23fdf8] {
    margin-top: 10px;
}

.header-mobile__buttons-demo {
    color: #fff;
    background: #0086EE;
    border: none;
    line-height: 150%;
}

.header__logo_mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

.sidebar-toggle {
    color: rgb(27 127 204 / 80%);
}
#CookieConsent {
    font-size: 15px;
    font-family: 'Poppins-600';
    position: fixed;
    z-index: 999;
    left: 8%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease;
    text-align: center;
    color: #fff;
    background: #0086EE;
    border: none;
    padding: 10px;
    border-radius: 8px;
    bottom: -35px;
  }
  
  #CookieConsent:hover {
    background: #007DDE;
  }
  
  #CookieConsent:active {
    background: #0068B9;
  }
/* end */